/*-*- codeing = utf-8 -*-*/
/*@Time : 2021-03-18 19:18*/
/*@Author: Puyang Chen*/
/*@File : project0.css*/
/*@Software: WebStorm*/

.title_logo{
    margin-top: 10px;
    margin-left: 5px;
    /*border: red 2px solid;*/
}

.left_option{
    float: left;
    font-size: 18px;
    margin-top: 16px;
    margin-right: 20px;
}

.right_option{
    float: right;
    font-size: 18px;
    margin-top: 16px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: gray ;
}
body{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.search_box{
    width: 700px;
    height: 500px;
    margin: auto;
    border: blue 0 solid;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    line-height: 100px;

}

.left_option{
    position: absolute;
    padding: 0 20px 0 15px;
}

.button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search_icon{
    display: inline;
    float: left;
    height: 40px;
    text-align: center;
    margin-top: 2px;
    margin-left: 10px;
    /*border: #d6211e 2px solid;*/
}
.input_box{
    /*display: inline;*/
    /*height: 50px;*/
    /*width:500px;*/
    /*border-radius: 50px;*/
    /*border-image-outset: 12px;*/
    float: left;
    /*font-size: 20px;*/
    /*margin-left: 10px;*/
    /*outline: none;*/
    width: 440px;
    height: 40px;
    border: none;
    outline:none;
    font-size: 16px;
    color: rgb(112, 112, 112);
    margin:2px 5px 0 0;
}
.voice_icon{
    float: left;
    display: inline;
    height: 40px;
    text-align: center;
    margin-top: 3px;
    margin-left: 5px;
    /*border: #d6211e 2px solid;*/
}

.search_button{
    height: 30px;
    width: 150px;
    float: left;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 195px;
    text-align: center;
    border-style:none;
}

/*.search_button :hover{*/
/*    display: none;*/
/*}*/
.hidden_attribution{
    display: none;
}
.lucky_button{
    height: 30px;
    width: 150px;
    float: left;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 20px;
    text-align: center;
    border-style:none;
}

.subtitle{
    font-size: 20px;
}

.header{
    background: lightgray;
    height: 60px;
    margin: 0 0 0 0;
}

.logo{
    margin: auto;
}

.title{
    color: #d6211e;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 50px;
}
.line{
    height: 1px;
    border-top: solid lightgray 1px;
    margin: 30px 50px;
}
.question{
    margin-top: 20px;
}
.part_title{
    width: 240px;
    height: 30px;
    font-size: 20px;
    margin: 10px 50px;
    display: inline-block;
}
.hidden_box{
    width: 400px;
    height: 30px;
    border-style: none;
    background: none;
    display: inline-block;
}
.request_title{
    width: 240px;
    height: 30px;
    font-size: 18px;
    margin: 5px 50px;
    display: inline-block;
    /*border: #d6211e 2px;*/
}
.text_box{
    width: 400px;
    height: 30px;
    margin-left: 0;
}

.text_info{
    margin-left: 30px;
}

select{
    height: 30px;
    font-size: 16px;
}

.button{
    background-color: #426cf5;
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 550px;
}

.context{
    background-color:white;
    border: rgb(218, 218, 218) solid 1px;
    border-radius: 2em;
    width: 550px;
    height: 45px;
    box-shadow: 0 0 5px rgb(212, 212, 212);
    margin: auto;
    /*border: #d6211e 2px solid;*/
}